.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  height: 15px;
  padding: 10px;
  font-size: large;
  width: "40%";
  border-radius: 5px;
  transition: border-color 0.3s ease; /* Smooth border color transition on focus */
}

.input:focus {
  border-color: #007bff; /* Input border color on focus */
  outline: none; /* Remove default outline */
}

.error {
  border: 2px solid red;
}
