.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.select {
  height: 45px;
  padding: 10px;
  font-size: large;
  width: "40%";
  border-radius: 5px;
  border-radius: 5px;
  background-color: #fff; /* Background color */
  cursor: pointer;
  appearance: none;
}
select:focus {
  border-color: #007bff;
  outline: none;
}

.error {
  border: 2px solid red;
}

.errorMessage {
  color: red;
  font-size: medium;
}
